@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateY(-200%);
    }

    30%, 100% {
        opacity: 1;
        transform: translateY(0);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
    list-style-type: none;
}

html {
    width: 100%;
    height: 100%;
    color-scheme: dark-light;
    font-size: 20px;
    margin: 0; padding: 0;
    overflow-x: hidden !important;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0; padding: 0;
    overflow-x: hidden !important;
    background-color: black;
    color: white;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

a:visited, a {
    color: inherit;
}

.choices {
    display: flex;
    justify-content: space-around;
}

img {
    max-height: 30vh;
    max-width: 30vw;
    cursor: pointer;
    transform: translateY(-300%);
    opacity: 0;
    animation: dropIn 3s ease forwards;
    animation-delay: calc(var(--order) * 350ms);
}

main {
    height: 80%;
}

.flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

div.score {
    min-width: 50vw;
}

#score {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

h1 {
    display: inline-block;
}

header {
    display: flex;
    justify-content: space-around;
    margin: 2rem 30vw;
}

.info {
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
}

header h1 {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}